.container {
  border-spacing: auto;
  text-align: center;
  max-width: auto;
}

.pagecontainer {
  background-color: grey;
  max-width: 100vw;
  padding-left: 30px;
  padding-right: 30px;
}
#header {
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 10px;
  height: auto;
  max-width: auto;
}
#navigation {
  background-color: black;
  color: white;
  display: block;
  text-align: left;
  height: auto;
  max-width: auto;
}
#navigation:hover .dropdown {
  display: block;
  text-align: left;
  height: auto;
  max-width: auto;
}
.intro {
  color: white;
  text-align: center;
  padding: 5px 10px;
}
.dropdown {
  color: red;
  position: absolute;
  z-index: 100;
  display: none;
  text-align: left;
  padding: 5px 10px;
}
#content {
  background-color: white;
  text-align: center;
  padding: 5px 10px;
}
#footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 5px 10px;
  height: auto;
  max-width: auto;
}
h3 {
  padding: 5px 10px;
}
h2 {
  text-align: left;
  padding: 5px 10px;
}
p {
  text-align: left;
  text-indent: 50px;
  padding: 5px 10px;
}
