/* Page Container */
.pagecontainer {
  background-color: silver;
  max-width: 100vw;
  padding-left: 35px;
  padding-right: 35px;
}
/* Navigation Div */
#navigation {
  position: fixed;
  color: white;
  text-align: center;
  width: 100vw;
  top: 0;
  left: 0;
}

#navigation a:hover + .dropdown {
  display: block;
}

#navigation ul.container {
  list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navigation ul.dropdown {
  display: none;
  list-style: none;
}

/* Header Div */
#header {
  text-align: center;
  color: white;
  background-color: black;
  padding: 5px 10px;
  height: auto;
  max-width: auto;
}
/* Content Div */
#content {
  background-color: white;
  text-align: center;
  padding: 5px 10px;
}
/* Footer Div */
#footer {
  color: white;
  background-color: black;
  text-align: center;
  padding: 5px 10px;
  height: auto;
  max-width: auto;
}
h3 {
  padding: 5px 10px;
}
#content .container p {
  text-align: left;
  text-indent: 50px;
  padding: 5px 10px;
}
