h1 {
    color: orange;
    font-size: 5em;
    background-color: grey;
    }
h2 {
    color: grey;
    background-color: blue;
  }
.dropkick {
    color: blue;
    background-color: red;
  }
.sidekick {
    color: red;
    background-color: green;
  }
#barf {
    color: green;
    background-color: purple;
  }
#axekick {
    color: purple;
    background-color: yellow;
  }
